<h2>About Me</h2>
<p>
My name is Colin Bartels and I am an Informatics student at the University of Washington class of 2017. 
This website serves as a portfolio of my web development work that I have completed during my time as a student.
</p>

<h3>Contact Information</h3>
<p>If you are interested in myself or my work feel free to contact me.</p>
<p>Email: <a href="mailto:bartelsc@uw.edu">bartelsc@uw.edu</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/colinbartels" target="_blank">https://www.linkedin.com/in/colinbartels</a></p>