<h3>About Me</h3>
<p>
I am an Informatics student at the University of Washington class of 2017. I am studying Web Development and have experience with Cybersecurity.
This website serves as a portfolio of my web development work that I have worked on in school.
</p>

<div id="devLogos">
  <div class="logo">
    <img src="img/html5.png" alt="html5">
    <strong>HTML5</strong>
  </div>

  <div class="logo">
    <img src="img/css3.png" alt="css3">
    <strong>CSS3</strong>
  </div>

  <div class="logo">
    <img src="img/js.png" alt="javascript">
    <strong>JavaScript</strong>
  </div>

  <div class="logo">
    <img src="img/jquery.png" alt="jquery">
    <strong>JQuery</strong>
  </div>

  <div class="logo">
    <img src="img/angular.png" alt="angular">
    <strong>AngularJS</strong>
  </div>

  <div class="logo">
    <img src="img/visual-studio.png" alt="Visual Studio">
    <strong>Visual Studio - C#</strong>
  </div>

  <div class="logo">
    <img src="img/php.png" alt="PHP">
    <strong>PHP</strong>
  </div>

  <div class="logo">
    <img src="img/java.png" alt="Java">
    <strong>Java</strong>
  </div>

  <div class="logo">
    <img src="img/sql.png" alt="SQL">
    <strong>SQL</strong>
  </div>
</div>

<div id="secLogos">
  <div class="logo">
    <img src="img/xss.png" alt="xss">
    <strong>Cross Site Scripting</strong>
  </div>

  <div class="logo">
    <img src="img/sql-injection.png" alt="sql injection">
    <strong>SQL Injection</strong>
  </div>

  <div class="logo">
    <img src="img/csrf.png" alt="Cross Site Request Forgery">
    <strong>Cross Site Request Forgery</strong>
  </div>

  <div class="logo">
    <img src="img/clickjacking.png" alt="Clickjacking">
    <strong>Clickjacking</strong>
  </div>

  <div class="logo">
    <img src="img/cookies.png" alt="Cookies">
    <strong>Cookies</strong>
  </div>

</div>