<h3>About Me</h3>
<p>
    I am an Informatics student at the University of Washington class of 2017. I am studying Web Development and have experience with Cybersecurity.
    This website serves as a portfolio of my web development work that I have worked on in school.
</p>

<div id="devLogos">
    <div class="logo" ng-repeat="logo in devLogos" ng-controller="homeController">
        <img ng-src="{{logo.Link}}" ng-alt="{{logo.Name}}" />
        <strong>{{logo.Name}}</strong>
    </div>
</div>

<div id="secLogos">
    <div class="logo" ng-repeat="logo in secLogos" ng-controller="homeController">
        <img ng-src="{{logo.Link}}" ng-alt="{{logo.Name}}" />
        <strong>{{logo.Name}}</strong>
    </div>
</div>