<h3 id="frontend">Front-end Projects</h3>
<div class="row container">
    <div class="col-sm-6 col-md-4" ng-repeat="project in projects" ng-controller="projectsController">
        <div class="thumbnail">
            <img ng-src="{{project.Image}}" ng-alt="{{project.Title}}" />
            <div class="caption">
                <h3>{{project.Title}}</h3>
                <p>{{project.Description}}</p>
                <p><a ng-href="{{project.Link}}" target="_blank" class="btn btn-primary" role="button">View Site</a></p>
                <p><a ng-href="{{project.Code}}" target="_blank" class="btn btn-primary" role="button">View Code</a></p>
            </div>
        </div>
    </div>
</div>

<hr>

<div id="backend">
    <h3>Back-end Projects</h3>
    <p>
        The largest project I have worked on to-date is a complete search engine. It contains a fully functioning web crawler and search suggestions. The web crawler is coded in C# and uses aworker role on Azure cloud instances to crawl sites and save the data it collects to Azure Table. A cloud queue is used to facilitate communication between the worker role and the web role which houses the actual search page, as well as the crawler dashboard which can send commands to the crawler. Search suggestions are provided by taking a list of ~10 million words and phrases and storing them in a <a href="https://en.wikipedia.org/wiki/Trie">Trie</a>. This allows for extremely quick results. An AWS RDS server was also used to return data about specific search requests through SQL queries in PHP PDO.
    </p>
    <p><a href="https://github.com/ColinBartels/INFO344-Search-Engine/tree/master/HW%204" target="_blank" class="btn btn-primary" role="button">View Code</a></p>
</div>